body,html{
    padding: 0;
    margin: 0;
    }
    nav{
    background-color: pink;
    }
    #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    }
    
    nav {
    padding: 30px;
    }
    
    nav a {
    font-weight: bold;
    color: #2c3e50;
    }
    
    nav a.router-link-exact-active {
    color: #42b983;
    }

    .Wrapper {
        background-image: url('https://chany4.github.io/images.Portfolio/images/Desktop%20-%2020.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
        object-fit: contain;
        background-color: white;
        margin: 0;
        padding: 0;
    }